
<div class="container">
  <app-ngx-chart></app-ngx-chart>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">STATUS</th>
        <th scope="col">LATEST CHECK</th>
        <th scope="col">MANAGE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseArray" >
        <td >
          <h4><span class="badge badge-primary">{{ item.url}}</span></h4>
        </td>
        <td>
          <h4><span class="badge badge-success">{{ item.responseCode }}</span></h4>
        </td>
        <td>
          <h4><span class="badge badge-success">Latency:{{ item.durationInMs }}ms</span></h4>
        </td>
        <td >
          <button type="button" class="btn btn-primary btn-lg"  (click)="onClick()"> Refresh </button>
          <button type="button" class="btn btn-primary btn-lg"  (click)="onClick()"> Show/Hide </button>
        </td>
      </tr>
      
    </tbody>
  </table>
 
</div>
