<div class="card mb-3">
  <h3 class="card-header">URL's Latency last 24h </h3>
  <div class="card-body">
    <h5 class="card-title">Request duration </h5>
    <h6 class="card-subtitle text-muted">Value showed in miliseconds</h6>
      <div class="chart-container">
        <ngx-charts-bar-horizontal
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="responseArrayNgxFormat"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
      </ngx-charts-bar-horizontal>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-md"  (click)="onClick()"> Refresh </button>
</div>
<!-- <div class="container-fluid">Response Arrray: {{ responseArrayNgxFormat | json }}</div> -->
<!-- <div class="container-fluid">Response : {{response | json }}</div> -->
